<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.FactoryMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Factory" >
    <id column="FactoryID" property="factoryID" jdbcType="INTEGER" />
    <result column="FactoryName" property="factoryName" jdbcType="VARCHAR" />
    <result column="FactoryAddress" property="factoryAddress" jdbcType="VARCHAR" />
    <result column="FactoryPhone" property="factoryPhone" jdbcType="VARCHAR" />
  </resultMap>
 
</mapper>