<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.FactoryMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Factory" >
    <id column="FactoryID" property="factoryID" jdbcType="INTEGER" />
    <result column="FactoryName" property="factoryName" jdbcType="VARCHAR" />
    <result column="FactoryAddress" property="factoryAddress" jdbcType="VARCHAR" />
    <result column="FactoryPhone" property="factoryPhone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FactoryID, FactoryName, FactoryAddress, FactoryPhone
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.FactoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from factory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from factory
    where FactoryID = #{factoryID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from factory
    where FactoryID = #{factoryID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.FactoryExample" >
    delete from factory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Factory" >
    insert into factory (FactoryID, FactoryName, FactoryAddress, 
      FactoryPhone)
    values (#{factoryID,jdbcType=INTEGER}, #{factoryName,jdbcType=VARCHAR}, #{factoryAddress,jdbcType=VARCHAR}, 
      #{factoryPhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Factory" >
    insert into factory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="factoryID != null" >
        FactoryID,
      </if>
      <if test="factoryName != null" >
        FactoryName,
      </if>
      <if test="factoryAddress != null" >
        FactoryAddress,
      </if>
      <if test="factoryPhone != null" >
        FactoryPhone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="factoryID != null" >
        #{factoryID,jdbcType=INTEGER},
      </if>
      <if test="factoryName != null" >
        #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="factoryAddress != null" >
        #{factoryAddress,jdbcType=VARCHAR},
      </if>
      <if test="factoryPhone != null" >
        #{factoryPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.FactoryExample" resultType="java.lang.Integer" >
    select count(*) from factory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update factory
    <set >
      <if test="record.factoryID != null" >
        FactoryID = #{record.factoryID,jdbcType=INTEGER},
      </if>
      <if test="record.factoryName != null" >
        FactoryName = #{record.factoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.factoryAddress != null" >
        FactoryAddress = #{record.factoryAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.factoryPhone != null" >
        FactoryPhone = #{record.factoryPhone,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update factory
    set FactoryID = #{record.factoryID,jdbcType=INTEGER},
      FactoryName = #{record.factoryName,jdbcType=VARCHAR},
      FactoryAddress = #{record.factoryAddress,jdbcType=VARCHAR},
      FactoryPhone = #{record.factoryPhone,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Factory" >
    update factory
    <set >
      <if test="factoryName != null" >
        FactoryName = #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="factoryAddress != null" >
        FactoryAddress = #{factoryAddress,jdbcType=VARCHAR},
      </if>
      <if test="factoryPhone != null" >
        FactoryPhone = #{factoryPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where FactoryID = #{factoryID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Factory" >
    update factory
    set FactoryName = #{factoryName,jdbcType=VARCHAR},
      FactoryAddress = #{factoryAddress,jdbcType=VARCHAR},
      FactoryPhone = #{factoryPhone,jdbcType=VARCHAR}
    where FactoryID = #{factoryID,jdbcType=INTEGER}
  </update>
</mapper>