<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.MenberMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Menber" >
    <id column="MemberID" property="memberID" jdbcType="INTEGER" />
    <result column="MemberCard" property="memberCard" jdbcType="VARCHAR" />
    <result column="Membersite" property="membersite" jdbcType="VARCHAR" />
    <result column="MemberPhone" property="memberPhone" jdbcType="VARCHAR" />
    <result column="TotalCost" property="totalCost" jdbcType="DOUBLE" />
    <result column="RegDate" property="regDate" jdbcType="TIMESTAMP" />
    
  </resultMap>
</mapper>