<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.MenberMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Menber" >
    <id column="MemberID" property="memberID" jdbcType="INTEGER" />
    <result column="MemberCard" property="memberCard" jdbcType="VARCHAR" />
    <result column="Membersite" property="membersite" jdbcType="VARCHAR" />
    <result column="MemberPhone" property="memberPhone" jdbcType="VARCHAR" />
    <result column="TotalCost" property="totalCost" jdbcType="DOUBLE" />
    <result column="RegDate" property="regDate" jdbcType="TIMESTAMP" />
    
  </resultMap>
  <!-- 查询总数量 -->
  <select id="count" resultType="int">
  	SELECT 
	COUNT(MemberPhone)
	FROM 
	supermarket_mysql.menber 
	WHERE 1=1
	<if test="memberPhone !='' and memberPhone != null">
	AND MemberPhone=#{memberPhone}
	</if>
  </select>
  <!-- 分页查询所有的会员（含模糊查询） -->
  <select id="gerAllMeber" resultType="Menber">
  
  SELECT 	
  	MemberID, 
	MemberCard, 
	MemberName, 
	Membersite, 
	MemberPhone, 
	TotalCost, 
	RegDate
	 
	FROM 
	supermarket_mysql.menber 
	WHERE 1=1	
	<if test="memberPhone !=''and memberPhone != null">
	AND MemberPhone  LIKE CONCAT('%',#{memberPhone},'%')
	</if>
	LIMIT #{pageNo}, #{pageSize};
  </select>
  <!--新增会员  -->
  <insert id="addMenber">
  
  INSERT INTO supermarket_mysql.menber 
	(
	MemberCard, 
	MemberName, 
	Membersite, 
	MemberPhone, 
	TotalCost
	)
	VALUES
	(
	#{memberCard}, 
	#{memberName}, 
	#{membersite}, 
	#{memberPhone}, 
	#{totalCost} 
	);
  
  
  </insert>
  <!--根据ID删除会员  -->
  <delete id="delMenber">
  
DELETE FROM supermarket_mysql.menber 
	WHERE
	MemberID = #{memberID} ;
  
  </delete>
  <!--根据ID修改会员信息  -->
  <update id="updateMenber">
  
UPDATE supermarket_mysql.menber 
	SET
	MemberCard = #{memberCard} , 
	MemberName = #{memberName} , 
	Membersite = #{membersite} , 
	MemberPhone = #{memberPhone} , 
	TotalCost = #{totalCost} 
	
	WHERE
	MemberID = #{memberID} ;
  
  </update>
</mapper>