<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.MerchinfoMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Merchinfo" >
    <id column="MerchID" property="merchID" jdbcType="INTEGER" />
    <result column="MerchName" property="merchName" jdbcType="VARCHAR" />
    <result column="MerchPrice" property="merchPrice" jdbcType="DOUBLE" />
    <result column="MerchCost" property="merchCost" jdbcType="DOUBLE" />
    <result column="MerchNum" property="merchNum" jdbcType="INTEGER" />
    <result column="CautionNum" property="cautionNum" jdbcType="INTEGER" />
    <result column="PlanNum" property="planNum" jdbcType="INTEGER" />
    <result column="BarCode" property="barCode" jdbcType="VARCHAR" />
    <result column="SalesProPrice" property="salesProPrice" jdbcType="DOUBLE" />
    <result column="SalesProDateS" property="salesProDateS" jdbcType="TIMESTAMP" />
    <result column="SalesProDateE" property="salesProDateE" jdbcType="TIMESTAMP" />
    <result column="AllowAbate" property="allowAbate" jdbcType="INTEGER" />
    <result column="AllowSale" property="allowSale" jdbcType="INTEGER" />
    <result column="FactoryID" property="factoryID" jdbcType="INTEGER" />
    <result column="ProvideID" property="provideID" jdbcType="INTEGER" />
  </resultMap>
  <select id="count" resultType="int">
  
SELECT 	COUNT(MerchID)
	 
	FROM 
	supermarket_mysql.merchinfo 
	where 1=1
	<if test="merchName !='' and merchName != null">
			AND MerchName=#{merchName}
	</if>
  </select>
  <select id="merchinfo" resultType="Merchinfo">
  
  SELECT 	
  	M.MerchID, 
	M.MerchName, 
	M.MerchPrice, 
	M.MerchCost, 
	M.MerchNum, 
	M.CautionNum, 
	M.PlanNum, 
	M.BarCode, 
	M.SalesProPrice, 
	M.SalesProDateS, 
	M.SalesProDateE, 
	M.AllowAbate, 
	M.AllowSale, 
	M.ProvideID,
	P.ProvideName, 
	P.ProvideContact, 
	P.ProvideAddress, 
	P.ProvidePhone

	 
	FROM 
	supermarket_mysql.merchinfo AS M
	INNER JOIN supermarket_mysql.provide AS P
	ON M.ProvideID=P.ProvideID
	WHERE 1=1
	<if test="merchName != ''and merchName != null">
	AND MerchName LIKE CONCAT('%',#{merchName},'%')
	</if>
	LIMIT #{pageNo},#{pageSize}
	
	
  
  </select>
 
</mapper>