<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ProvideMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Provide" >
    <id column="ProvideID" property="provideID" jdbcType="INTEGER" />
    <result column="ProvideName" property="provideName" jdbcType="VARCHAR" />
    <result column="ProvideAddress" property="provideAddress" jdbcType="VARCHAR" />
    <result column="ProvidePhone" property="providePhone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ProvideID, ProvideName, ProvideAddress, ProvidePhone
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.ProvideExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from provide
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from provide
    where ProvideID = #{provideID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from provide
    where ProvideID = #{provideID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.ProvideExample" >
    delete from provide
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Provide" >
    insert into provide (ProvideID, ProvideName, ProvideAddress, 
      ProvidePhone)
    values (#{provideID,jdbcType=INTEGER}, #{provideName,jdbcType=VARCHAR}, #{provideAddress,jdbcType=VARCHAR}, 
      #{providePhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Provide" >
    insert into provide
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="provideID != null" >
        ProvideID,
      </if>
      <if test="provideName != null" >
        ProvideName,
      </if>
      <if test="provideAddress != null" >
        ProvideAddress,
      </if>
      <if test="providePhone != null" >
        ProvidePhone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="provideID != null" >
        #{provideID,jdbcType=INTEGER},
      </if>
      <if test="provideName != null" >
        #{provideName,jdbcType=VARCHAR},
      </if>
      <if test="provideAddress != null" >
        #{provideAddress,jdbcType=VARCHAR},
      </if>
      <if test="providePhone != null" >
        #{providePhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.ProvideExample" resultType="java.lang.Integer" >
    select count(*) from provide
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update provide
    <set >
      <if test="record.provideID != null" >
        ProvideID = #{record.provideID,jdbcType=INTEGER},
      </if>
      <if test="record.provideName != null" >
        ProvideName = #{record.provideName,jdbcType=VARCHAR},
      </if>
      <if test="record.provideAddress != null" >
        ProvideAddress = #{record.provideAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.providePhone != null" >
        ProvidePhone = #{record.providePhone,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update provide
    set ProvideID = #{record.provideID,jdbcType=INTEGER},
      ProvideName = #{record.provideName,jdbcType=VARCHAR},
      ProvideAddress = #{record.provideAddress,jdbcType=VARCHAR},
      ProvidePhone = #{record.providePhone,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Provide" >
    update provide
    <set >
      <if test="provideName != null" >
        ProvideName = #{provideName,jdbcType=VARCHAR},
      </if>
      <if test="provideAddress != null" >
        ProvideAddress = #{provideAddress,jdbcType=VARCHAR},
      </if>
      <if test="providePhone != null" >
        ProvidePhone = #{providePhone,jdbcType=VARCHAR},
      </if>
    </set>
    where ProvideID = #{provideID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Provide" >
    update provide
    set ProvideName = #{provideName,jdbcType=VARCHAR},
      ProvideAddress = #{provideAddress,jdbcType=VARCHAR},
      ProvidePhone = #{providePhone,jdbcType=VARCHAR}
    where ProvideID = #{provideID,jdbcType=INTEGER}
  </update>
</mapper>