<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ProvideMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Provide" >
    <id column="ProvideID" property="provideID" jdbcType="INTEGER" />
    <result column="ProvideName" property="provideName" jdbcType="VARCHAR" />
    <result column="ProvideAddress" property="provideAddress" jdbcType="VARCHAR" />
    <result column="ProvidePhone" property="providePhone" jdbcType="VARCHAR" />
    <result column="ProvideContact" property="provideContact" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 供应商总数 -->
  <select id="count" resultType="int">
  	SELECT 	COUNT(ProvideID)
	FROM 
	supermarket_mysql.provide 
	WHERE 1=1
	<if test="provideName !='' and provideName != null">
		AND ProvideName LIKE CONCAT('%',#{provideName},'%')
	</if>
  </select>
  <!-- 查询所有的供应商信息 -->
  <select id="getAllProvide" resultType="Provide">
  
  SELECT 	
  	ProvideID, 
	ProvideName, 
	ProvideContact, 
	ProvideAddress, 
	ProvidePhone
	 
	FROM 
	supermarket_mysql.provide 
	WHERE 1=1
	<if test="provideName !='' and provideName != null">
		AND ProvideName LIKE CONCAT('%',#{provideName},'%')
	</if>
	LIMIT #{pageNo}, #{pageSize};
  </select>
  
  <!-- 新增供应商 -->
  <insert id="addAllprovide">
  INSERT INTO supermarket_mysql.provide 
	(
	ProvideName, 
	ProvideContact, 
	ProvideAddress, 
	ProvidePhone
	)
	VALUES
	(
	#{provide.provideName}, 
	#{provide.provideContact}, 
	#{provide.provideAddress}, 
	#{provide.providePhone}
	);
  </insert>
  <!-- 修改供应商信息 -->
  <update id="updateProvide">
  
UPDATE supermarket_mysql.provide 
	SET
	ProvideName = #{provide.provideName} , 
	ProvideContact = #{provide.provideContact} , 
	ProvideAddress =#{provide.provideAddress} , 
	ProvidePhone = #{provide.providePhone}
	
	WHERE
	ProvideID = #{provide.provideID} ;
  
  </update>
  <!-- 删除供应商 -->
  <delete id="delProvide">
	DELETE FROM supermarket_mysql.provide 
		WHERE
		ProvideID = #{provideID} ;
  
  
  
  </delete>
  
</mapper>