<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.SaleMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Sale" >
    <id column="SaleID" property="saleID" jdbcType="INTEGER" />
    <result column="MerChID" property="merChID" jdbcType="INTEGER" />
    <result column="SaleDate" property="saleDate" jdbcType="TIMESTAMP" />
    <result column="SaleNum" property="saleNum" jdbcType="INTEGER" />
    <result column="SalePrice" property="salePrice" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SaleID, MerChID, SaleDate, SaleNum, SalePrice
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.SaleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sale
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sale
    where SaleID = #{saleID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sale
    where SaleID = #{saleID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.SaleExample" >
    delete from sale
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Sale" >
    insert into sale (SaleID, MerChID, SaleDate, 
      SaleNum, SalePrice)
    values (#{saleID,jdbcType=INTEGER}, #{merChID,jdbcType=INTEGER}, #{saleDate,jdbcType=TIMESTAMP}, 
      #{saleNum,jdbcType=INTEGER}, #{salePrice,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Sale" >
    insert into sale
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="saleID != null" >
        SaleID,
      </if>
      <if test="merChID != null" >
        MerChID,
      </if>
      <if test="saleDate != null" >
        SaleDate,
      </if>
      <if test="saleNum != null" >
        SaleNum,
      </if>
      <if test="salePrice != null" >
        SalePrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="saleID != null" >
        #{saleID,jdbcType=INTEGER},
      </if>
      <if test="merChID != null" >
        #{merChID,jdbcType=INTEGER},
      </if>
      <if test="saleDate != null" >
        #{saleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="saleNum != null" >
        #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.SaleExample" resultType="java.lang.Integer" >
    select count(*) from sale
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sale
    <set >
      <if test="record.saleID != null" >
        SaleID = #{record.saleID,jdbcType=INTEGER},
      </if>
      <if test="record.merChID != null" >
        MerChID = #{record.merChID,jdbcType=INTEGER},
      </if>
      <if test="record.saleDate != null" >
        SaleDate = #{record.saleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.saleNum != null" >
        SaleNum = #{record.saleNum,jdbcType=INTEGER},
      </if>
      <if test="record.salePrice != null" >
        SalePrice = #{record.salePrice,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sale
    set SaleID = #{record.saleID,jdbcType=INTEGER},
      MerChID = #{record.merChID,jdbcType=INTEGER},
      SaleDate = #{record.saleDate,jdbcType=TIMESTAMP},
      SaleNum = #{record.saleNum,jdbcType=INTEGER},
      SalePrice = #{record.salePrice,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Sale" >
    update sale
    <set >
      <if test="merChID != null" >
        MerChID = #{merChID,jdbcType=INTEGER},
      </if>
      <if test="saleDate != null" >
        SaleDate = #{saleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="saleNum != null" >
        SaleNum = #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="salePrice != null" >
        SalePrice = #{salePrice,jdbcType=DOUBLE},
      </if>
    </set>
    where SaleID = #{saleID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Sale" >
    update sale
    set MerChID = #{merChID,jdbcType=INTEGER},
      SaleDate = #{saleDate,jdbcType=TIMESTAMP},
      SaleNum = #{saleNum,jdbcType=INTEGER},
      SalePrice = #{salePrice,jdbcType=DOUBLE}
    where SaleID = #{saleID,jdbcType=INTEGER}
  </update>
</mapper>