<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.SaleMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Sale" >
    <id column="SaleID" property="saleID" jdbcType="INTEGER" />
    <result column="MerChID" property="merChID" jdbcType="INTEGER" />
    <result column="SaleDate" property="saleDate" jdbcType="TIMESTAMP" />
    <result column="SaleNum" property="saleNum" jdbcType="INTEGER" />
    <result column="MerchName" property="merchName" jdbcType="VARCHAR" />
    <result column="SalePrice" property="salePrice" jdbcType="DOUBLE" />
    <result column="MerchPrice" property="merchPrice" jdbcType="DOUBLE" />
    
  </resultMap>
  
  <!-- 根据交易编号查询所有交易记录详情 -->
 <select id="selectSaledealingID" resultType="Sale" >
	SELECT DealingID,MerchName,SaleNum,MerchPrice
	FROM sale
	INNER JOIN merchinfo AS us  ON us.MerchID=sale.MerchID
	WHERE DealingID = #{dealingID }
 </select>
 
 <!-- 查询商品销售图表记录详情 -->
 <select id="selectSaleTABLE" resultType="Sale" >
	SELECT MerchName,SUM(SaleNum) AS SaleNum
		FROM sale AS s
	INNER JOIN merchinfo AS m ON s.MerChID=m.MerchID
	GROUP BY MerchName
	ORDER BY SaleNum desc
	LIMIT 0,14
 </select>
 
</mapper>