<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.StockMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Stock" >
    <id column="StockID" property="stockID" jdbcType="INTEGER" />
    <result column="MerchID" property="merchID" jdbcType="INTEGER" />
    <result column="MerchNum" property="merchNum" jdbcType="INTEGER" />
    <result column="MerchPrice" property="merchPrice" jdbcType="DOUBLE" />
    <result column="TotalPrice" property="totalPrice" jdbcType="DOUBLE" />
    <result column="PlanDate" property="planDate" jdbcType="TIMESTAMP" />
    <result column="StockDate" property="stockDate" jdbcType="TIMESTAMP" />
    <result column="StockState" property="stockState" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    StockID, MerchID, MerchNum, MerchPrice, TotalPrice, PlanDate, StockDate, StockState
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.StockExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from stock
    where StockID = #{stockID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stock
    where StockID = #{stockID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.StockExample" >
    delete from stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Stock" >
    insert into stock (StockID, MerchID, MerchNum, 
      MerchPrice, TotalPrice, PlanDate, 
      StockDate, StockState)
    values (#{stockID,jdbcType=INTEGER}, #{merchID,jdbcType=INTEGER}, #{merchNum,jdbcType=INTEGER}, 
      #{merchPrice,jdbcType=DOUBLE}, #{totalPrice,jdbcType=DOUBLE}, #{planDate,jdbcType=TIMESTAMP}, 
      #{stockDate,jdbcType=TIMESTAMP}, #{stockState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Stock" >
    insert into stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stockID != null" >
        StockID,
      </if>
      <if test="merchID != null" >
        MerchID,
      </if>
      <if test="merchNum != null" >
        MerchNum,
      </if>
      <if test="merchPrice != null" >
        MerchPrice,
      </if>
      <if test="totalPrice != null" >
        TotalPrice,
      </if>
      <if test="planDate != null" >
        PlanDate,
      </if>
      <if test="stockDate != null" >
        StockDate,
      </if>
      <if test="stockState != null" >
        StockState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stockID != null" >
        #{stockID,jdbcType=INTEGER},
      </if>
      <if test="merchID != null" >
        #{merchID,jdbcType=INTEGER},
      </if>
      <if test="merchNum != null" >
        #{merchNum,jdbcType=INTEGER},
      </if>
      <if test="merchPrice != null" >
        #{merchPrice,jdbcType=DOUBLE},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="planDate != null" >
        #{planDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stockDate != null" >
        #{stockDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stockState != null" >
        #{stockState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.StockExample" resultType="java.lang.Integer" >
    select count(*) from stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update stock
    <set >
      <if test="record.stockID != null" >
        StockID = #{record.stockID,jdbcType=INTEGER},
      </if>
      <if test="record.merchID != null" >
        MerchID = #{record.merchID,jdbcType=INTEGER},
      </if>
      <if test="record.merchNum != null" >
        MerchNum = #{record.merchNum,jdbcType=INTEGER},
      </if>
      <if test="record.merchPrice != null" >
        MerchPrice = #{record.merchPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.totalPrice != null" >
        TotalPrice = #{record.totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.planDate != null" >
        PlanDate = #{record.planDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.stockDate != null" >
        StockDate = #{record.stockDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.stockState != null" >
        StockState = #{record.stockState,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update stock
    set StockID = #{record.stockID,jdbcType=INTEGER},
      MerchID = #{record.merchID,jdbcType=INTEGER},
      MerchNum = #{record.merchNum,jdbcType=INTEGER},
      MerchPrice = #{record.merchPrice,jdbcType=DOUBLE},
      TotalPrice = #{record.totalPrice,jdbcType=DOUBLE},
      PlanDate = #{record.planDate,jdbcType=TIMESTAMP},
      StockDate = #{record.stockDate,jdbcType=TIMESTAMP},
      StockState = #{record.stockState,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Stock" >
    update stock
    <set >
      <if test="merchID != null" >
        MerchID = #{merchID,jdbcType=INTEGER},
      </if>
      <if test="merchNum != null" >
        MerchNum = #{merchNum,jdbcType=INTEGER},
      </if>
      <if test="merchPrice != null" >
        MerchPrice = #{merchPrice,jdbcType=DOUBLE},
      </if>
      <if test="totalPrice != null" >
        TotalPrice = #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="planDate != null" >
        PlanDate = #{planDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stockDate != null" >
        StockDate = #{stockDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stockState != null" >
        StockState = #{stockState,jdbcType=INTEGER},
      </if>
    </set>
    where StockID = #{stockID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Stock" >
    update stock
    set MerchID = #{merchID,jdbcType=INTEGER},
      MerchNum = #{merchNum,jdbcType=INTEGER},
      MerchPrice = #{merchPrice,jdbcType=DOUBLE},
      TotalPrice = #{totalPrice,jdbcType=DOUBLE},
      PlanDate = #{planDate,jdbcType=TIMESTAMP},
      StockDate = #{stockDate,jdbcType=TIMESTAMP},
      StockState = #{stockState,jdbcType=INTEGER}
    where StockID = #{stockID,jdbcType=INTEGER}
  </update>
</mapper>