<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.StockMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Stock" >
    <id column="StockID" property="stockID" jdbcType="INTEGER" />
    <result column="MerchID" property="merchID" jdbcType="INTEGER" />
    <result column="MerchNum" property="merchNum" jdbcType="INTEGER" />
    <result column="MerchPrice" property="merchPrice" jdbcType="DOUBLE" />
    <result column="TotalPrice" property="totalPrice" jdbcType="DOUBLE" />
    <result column="PlanDate" property="planDate" jdbcType="TIMESTAMP" />
    <result column="StockDate" property="stockDate" jdbcType="TIMESTAMP" />
    <result column="StockState" property="stockState" jdbcType="INTEGER" />
  </resultMap>
  
</mapper>