<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.User" >
    <id column="UserID" property="userID" jdbcType="INTEGER" />
    <result column="UserName" property="userName" jdbcType="VARCHAR" />
    <result column="UserPW" property="userPW" jdbcType="VARCHAR" />
    <result column="UserStyle" property="userStyle" jdbcType="INTEGER" />
  </resultMap>
 <!-- 查询账号放入session -->
 <select id="user" resultType="User">
SELECT 	UserID, 
	UserName, 
	UserPW, 
	UserStyle
	 
	FROM 
	supermarket_mysql.user 
		WHERE UserName=#{UserName} 
 </select>
 
 <!-- 匹配账号密码 -->
  <select id="getUser" resultType="int">
SELECT 
	UserID, 
	UserName, 
	UserPW, 
	UserStyle
	 
	FROM 
	supermarket_mysql.user 
		WHERE UserName=#{UserName} 
			AND UserPW=#{UserPW}
 </select>
 
 
</mapper>