<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Goods" >
    <id column="goodsNo" property="goodsno" jdbcType="INTEGER" />
    <result column="typeNo" property="typeno" jdbcType="INTEGER" />
    <result column="supplierNo" property="supplierno" jdbcType="INTEGER" />
    <result column="goodsName" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsNorm" property="goodsnorm" jdbcType="VARCHAR" />
    <result column="goodsUnit" property="goodsunit" jdbcType="VARCHAR" />
    <result column="goodsCount" property="goodscount" jdbcType="INTEGER" />
    <result column="goodsOutprise" property="goodsoutprise" jdbcType="DOUBLE" />
    <result column="goodsInprise" property="goodsinprise" jdbcType="INTEGER" />
    <result column="typeName" property="typeName" jdbcType="VARCHAR"/>
    <result column="supplierName" property="supplierName" jdbcType="VARCHAR"/>
  </resultMap>
  <!-- 查询商品总数 -->
  <select id="count" resultType="int">
  
		SELECT COUNT(*) FROM goods where 1=1
		<if test="typeNo != '' and typeNo !=null">
		AND typeNo=#{typeNo}
		</if>
		<if test="goodsName != '' and goodsName !=null">
		AND goodsName LIKE CONCAT ("%",#{goodsName},"%")
		</if>
  </select>
  
  <!-- 查询所有的商品信息 -->
  <select id="getAllGoods" resultType="Goods">
  SELECT 	
  	g.goodsNo,  
	g.goodsName, 
	g.goodsNorm, 
	g.goodsUnit, 
	g.typeNo,
	t.typeName,
	s.supplierName,
	g.goodsInprise,
	g.goodsOutprise
	 
	FROM 
	commodity_database.goods AS g
		INNER JOIN `type` AS t ON g.typeNo=t.typeNo
			INNER JOIN supplier AS s ON g.supplierNo=s.supplierNo 
				WHERE 1=1
				<if test="typeNo !='' and typeNo !=null">
				AND g.typeNo=#{typeNo}
				</if> 
				<if test="goodsName !='' and goodsName !=null">
				AND g.goodsName LIKE CONCAT('%',#{goodsName},'%')
				</if>
				ORDER BY  goodsNo ASC 
				LIMIT #{pageNo},#{pageSize}
  
  </select>
  
  <!-- 查询所有的商品价格信息 -->
  <select id="getAllGoodsPrice" resultType="Goods">
  SELECT 	
  g.goodsNo,  
	g.goodsName,  
	g.goodsInprise,
	g.goodsOutprise, 
	t.typeName,
	s.supplierName,
	g.goodsCount,
	g.goodsnorm
	FROM 
	commodity_database.goods AS g
		INNER JOIN `type` AS t ON g.typeNo=t.typeNo
			INNER JOIN supplier AS s ON g.supplierNo=s.supplierNo 
				WHERE 1=1
				<if test="typeNo !='' and typeNo !=null">
				AND g.typeNo=#{typeNo}
				</if> 
				<if test="goodsName !='' and goodsName !=null">
				AND g.goodsName LIKE CONCAT('%',#{goodsName},'%')
				</if>
				ORDER BY  goodsNo ASC 
				LIMIT #{pageNo},#{pageSize}
  
  </select>
  
  <!-- 修改商品信息 -->
  <update id="updateGoods" parameterType="Goods">
  UPDATE commodity_database.goods 
	SET
	typeNo = #{typeno}, 
	supplierNo = #{supplierno} , 
	goodsName = #{goodsname} , 
	goodsNorm = #{goodsnorm} , 
	goodsUnit = #{goodsunit} , 
	goodsCount = #{goodscount} , 
	goodsOutprise = #{goodsoutprise} , 
	goodsInprise = #{goodsoutprise}
	
	WHERE
	goodsNo = #{goodsno} ;
  
  </update>
  <!-- 删除商品 -->
  <delete id="delGoods">
  DELETE FROM commodity_database.goods 
	WHERE
	goodsNo = #{goodsno};
  </delete>
  <!-- 添加商品信息 -->
  <insert id="insertGoods" parameterType="Goods">
  
  INSERT INTO commodity_database.goods 
	(
	typeNo, 
	supplierNo, 
	goodsName, 
	goodsNorm, 
	goodsUnit, 
	goodsCount, 
	goodsOutprise, 
	goodsInprise
	)
	VALUES
	(
	#{typeno}, 
	#{supplierno}, 
	#{goodsname}, 	
	#{goodsnorm}, 
	#{goodsunit}, 
	0, 
	#{goodsoutprise}, 
	#{goodsinprise}
	);
  
  </insert>
  
</mapper>