<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.SellmxMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Sellmx" >
    <id column="sellmxNo" property="sellmxno" jdbcType="INTEGER" />
    <result column="goodsNo" property="goodsno" jdbcType="INTEGER" />
    <result column="workerNo" property="workerno" jdbcType="INTEGER" />
    <result column="sellNo" property="sellno" jdbcType="INTEGER" />
    <result column="sellmxCount" property="sellmxcount" jdbcType="INTEGER" />
    <result column="sellmxZprise" property="sellmxzprise" jdbcType="INTEGER" />
    <result column="sellmxDate" property="sellmxdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <!-- 查询销售明细的总数量 -->
  <select id="countSell" resultType="int">
  
 	 SELECT COUNT(*) FROM commodity_database.sellmx
  
  </select>
  <!--分页查询所有的销售明细信息  -->
  <select id="getAllSellmx" resultType="Sellmx">
  SELECT 	
  	s.sellmxNo, 
	s.goodsNo, 
	s.workerNo, 
	s.sellNo, 
	s.sellmxCount, 
	s.sellmxZprise, 
	s.sellmxDate, 
	w.workerName, 
	w.workerSex, 
	w.workerPhone, 
	g.goodsName, 
	g.goodsOutprise, 
	g.goodsInprise
	FROM 
	commodity_database.sellmx AS s
		INNER JOIN commodity_database.worker AS w ON s.workerNo=w.workerNo
			INNER JOIN commodity_database.goods AS g ON s.goodsNo=g.goodsNo
			WHERE 1=1
			<if test="goodsNo !='' and goodsNo !=null">
			AND g.goodsNo=#{goodsNo} 
			</if>
			<if test="workerNo !='' and workerNo !=null">
			AND s.workerNo=#{workerNo}
			</if>
			<if test="sellNo !='' and sellNo != null">
			AND s.sellNo=#{sellNo}
			</if>
			<if test="sellmxDate !='' and sellmxDate != null">
			AND w.sellmxDate=#{sellmxDate}
			</if>
			LIMIT #{pageNo},#{pageSize}
  
  
  </select>
  
  <!-- 添加销售信息 -->
  <insert id="addSellmx">
  INSERT INTO commodity_database.sellmx
	(
	sellmxNo,
    goodsNo,
	workerNo,
    sellNo,
    sellmxCount,
    sellmxZprise,
    sellmxDate
	)
	VALUES
	(
	#{sellmxno}, 
	#{goodsno}, 
	#{workerno},
	#{sellno},
	#{sellmxcount},
	#{sellmxzprise},
	#{sellmxdate},
	);
  </insert>
  
  <!-- 根据销售单号查询销售信息 -->
  <select id="sellmx" resultType="Sellmx">
  SELECT 	*
	FROM 
	commodity_database.sellmx 
	WHERE sellmxNo=#{sellmxno}
  </select>
  
  <!-- 根据员工编号查询销售信息 -->
  <select id="workersellmx" resultType="Sellmx">
  SELECT 	*
	FROM 
	commodity_database.sellmx 
	WHERE workerNo=#{workerno}
  </select>
  
  <!-- 根据销售单号删除销售信息 -->
  <delete id="delSellmx">
  DELETE FROM commodity_database.sellmx 
	WHERE
	sellmxNo=#{sellmxno} ;
  </delete>
  
  <!-- 根据销售单号修改销售信息 -->
  <update id="updateSellmxformation">
 
UPDATE commodity_database.sellmx 
	SET
	goodsNo = #{goodsno} , 
	workerNo = #{workerno} , 
	sellNo = #{sellno} , 
	sellmxCount = #{sellmxcount} , 
	sellmxZprise = #{sellmxzprise} , 
	sellmxDate = #{sellmxdate}
	
	WHERE
	sellmxNo = #{sellmxno} ;
 
 </update>
 
</mapper>