<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.StockMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Stock" >
    <id column="stockNo" property="stockno" jdbcType="INTEGER" />
    <result column="goodsNo" property="goodsno" jdbcType="INTEGER" />
    <result column="supplierNo" property="supplierno" jdbcType="INTEGER" />
    <result column="workerNo" property="workerno" jdbcType="INTEGER" />
    <result column="stockCount" property="stockcount" jdbcType="INTEGER" />
    <result column="stockLastinprise" property="stocklastinprise" jdbcType="INTEGER" />
    <result column="stockDate" property="stockdate" jdbcType="DATE" />
       <result column="goodsName" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsNorm" property="goodsnorm" jdbcType="VARCHAR" />
    <result column="goodsUnit" property="goodsunit" jdbcType="VARCHAR" />
    <result column="goodsCount" property="goodscount" jdbcType="INTEGER" />
    <result column="goodsOutprise" property="goodsoutprise" jdbcType="DOUBLE" />
    <result column="goodsInprise" property="goodsinprise" jdbcType="DOUBLE" />
    <result column="typeName" property="typeName" jdbcType="VARCHAR"/>
    <result column="supplierName" property="supplierName" jdbcType="VARCHAR"/>
    <result column="adminNo" property="adminno" jdbcType="INTEGER" />
    <result column="workerName" property="workername" jdbcType="VARCHAR" />
     <result column="workerPhone" property="workerphone" jdbcType="VARCHAR" />
       <result column="adminName" property="adminname" jdbcType="VARCHAR" />
  </resultMap>
  <select id="countStock" resultType="int">
  	SELECT 	COUNT(*)
	FROM 
	commodity_database.stock 
  </select>
  
  <!-- 查询所有的进货信息 -->
  <select id="getAllStock" resultType="Stock">
  
  SELECT 	
  	s.stockNo, 
	s.goodsNo, 
	s.supplierNo, 
	s.workerNo, 
	s.stockCount, 
	s.stockLastinprise, 
	s.stockDate, 
	t.typeName, 
	g.goodsName, 
	g.goodsNorm, 
	g.goodsUnit, 
	g.goodsCount, 
	g.goodsOutprise, 
	g.goodsInprise,
	su.supplierName,  
	w.adminNo, 
	w.workerName, 
	w.workerPhone, 
	a.adminName
	 
	FROM 
	commodity_database.stock AS s
		INNER JOIN commodity_database.goods AS g ON s.goodsNo=g.goodsNo
			INNER JOIN commodity_database.supplier AS su ON s.supplierNo=su.supplierNo
				INNER JOIN commodity_database.worker  AS w ON s.workerNo=w.workerNo
					INNER JOIN commodity_database.type AS t ON t.typeNo=g.typeNo
						INNER JOIN commodity_database.admin AS a ON w.adminNo=a.adminNo
						WHERE 1=1 
						<if test="workerName !='' and workerName !=null">
						 AND workerName like CONCAT('%',#{workername},'%')
						</if>
						<if test="supplierName !='' and supplierName !=null">
						 AND supplierName like CONCAT('%',#{suppliername},'%')
						</if>
						<if test="stockDate !='' and stockDate != null">
						AND stockDate=#{stockdate}
						</if>
						LIMIT #{pageNo}, #{pageSize};
  </select>
 
  <!-- 添加进货信息 -->
  <insert id="addStock">
  INSERT INTO commodity_database.stock
	(
	stockNo,
    goodsNo,
	supplierNo,
    workerNo,
    stockCount,
    stockLastinprise,
    stockDate
	)
	VALUES
	(
	#{stockno}, 
	#{goodsno}, 
	#{supplierno},
	#{workerno},
	#{stockcount},
	#{stocklastinprise},
	#{stockdate},
	);
  </insert>
 
  <!-- 根据进货单号查询进货信息 -->
  <select id="Stock" resultType="Stock">
  SELECT 	*
	FROM 
	commodity_database.stock 
	WHERE stockNo=#{stockno}
  </select>
 
  <!-- 根据员工名查询进货信息 -->
  <select id="workerStock" resultType="Stock">
  SELECT 	*
	FROM 
	commodity_database.stock 
	WHERE workerNo=#{workerno}
  </select>
  
  <!-- 根据进货日期查询进货信息 -->
  <select id="dateStock" resultType="Stock">
  SELECT 	*
	FROM 
	commodity_database.stock 
	WHERE stockDate=#{stockdate}
  </select>
  
  <!-- 根据进货单号删除进货信息 -->
  <delete id="delStock">
  DELETE FROM commodity_database.stock 
	WHERE
	stockNo = #{stockno} ;
  </delete>
  
  <!-- 根据进货单号修改进货信息 -->
  <update id="updateStockformation">
 
UPDATE commodity_database.stock 
	SET
	goodsNo = #{goodsno} , 
	supplierNo = #{supplierno} , 
	workerNo = #{workerno} , 
	stockCount = #{stockcount} , 
	stockLastinprise = #{stocklastinprise} , 
	stockDate = #{stockdate}
	
	WHERE
	stockNo = #{stockno} ;
 
 </update>
  
</mapper>
