<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Supplier" >
    <id column="supplierNo" property="supplierno" jdbcType="INTEGER" />
    <result column="supplierName" property="suppliername" jdbcType="VARCHAR" />
    <result column="supplierAdress" property="supplieradress" jdbcType="VARCHAR" />
    <result column="supplierPeopleName" property="supplierpeoplename" jdbcType="VARCHAR" />
    <result column="supplierPhone" property="supplierphone" jdbcType="VARCHAR" />
  </resultMap>

 <select id="countSupplier" resultType="int">
 	SELECT COUNT(*) FROM supplier
 </select>
 
 <select id="getAllSupplier" resultType="Supplier">
 
 SELECT 	
 	supplierNo, 
	supplierName, 
	supplierAdress, 
	supplierPeopleName, 
	supplierPhone
	 
	FROM 
	commodity_database.supplier
	WHERE 1=1
	<if test="suppliername != '' and suppliername !=null">
		AND supplierName=#{suppliername}
	</if> 
	LIMIT #{pageNo},#{pageSize};
 </select>
 
 <insert id="addSupplier">
 
INSERT INTO commodity_database.supplier 
	(
	supplierName, 
	supplierAdress, 
	supplierPeopleName, 
	supplierPhone
	)
	VALUES
	(
	#{suppliername}, 
	#{supplieradress}, 
	#{supplierpeoplename}, 
	#{supplierphone}
	);
 
 </insert>
 
 <delete id="delSupplier">
 
DELETE FROM commodity_database.supplier 
	WHERE
	supplierNo = #{supplierno} ;
 </delete>
 
 <update id="updateSupplier">
 
UPDATE commodity_database.supplier 
	SET
	supplierName = #{suppliername} , 
	supplierAdress = #{supplieradress} , 
	supplierPeopleName = #{supplierpeoplename} , 
	supplierPhone = #{supplierphone}
	
	WHERE
	supplierNo = #{supplierno} ;
 </update>
 
 <select id="allSupplier" resultType="Supplier">
 
SELECT 	supplierNo, 
	supplierName
	
	FROM 
	commodity_database.supplier 
	
 
 </select>
</mapper>